@import "../../styles/mixins.scss";

.welcome {
  @include flex-column-center-full;
  padding: 40px;

  &__wrapper {
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #395669;
    padding: 0 0 25px 0;
    text-transform: uppercase;
  }

  &__description {
    color: #6d6d6d;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    text-align: left;
    padding: 0 0 40px 0;
  }
}
