@import "../../styles/mixins.scss";

.header {
  @include flex-column-center-full;
  padding: 10px;

  &__wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
  }

  &__logo {
    flex: 0 0 225px;
  }

  &__info {
    @include flex-column-center;
    flex: 1 0 auto;
    justify-content: space-between;
  }

  &__topnav {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: end;
    width: 100%;
    height: 16px;
  }

  &__details {
    @include flex-column-end;
    height: 135px;
    width: 100%;
    gap: 15px;
    margin-bottom: 50px;
  }

  &__greetings {
    font-size: 18px;
    font-family: "Helvetica Condensed Regular", sans-serif;
    color: #8e8f91;
    font-weight: 800;
  }

  &__actions {
    @include flex-row-center;
    gap: 10px;
    align-items: stretch;
  }

  &__actionWrapper {
    @include flex-row-center;
    padding: 10px 30px 10px 26px;
    border: 1px dashed #bebebe;
    border-radius: 10px;
    background: repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 1px,
      transparent 2px,
      transparent 5px
    );
  }
}
