@import "../../styles/mixins.scss";

.searchField {
  @include flex-row-center;
  position: relative;
  &__input {
    width: 330px;
    height: 30px;
    padding: 10px;
    border: 1px solid #cccccc;

    &::placeholder {
      color: #cccccc;
      font-size: 14px;
    }

    &:focus {
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    right: -24px;
    top: -3px;
    cursor: pointer;
  }
}
